@charset "UTF-8";
  
      body {
        background-color: #3fbba3;
      }
      .container_login {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 80px auto;
        width: 40%;
        height: 500px;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
      }
      h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #3fbba3;
        font-size: 50px;
      }
      .input {
        height: 54px;
        width: 100%;
        margin-top: 25px;
        box-sizing: border-box;
        padding-left: 10px;
      }
      .botao_login {
        width: 100px;
        height: 40px;
        border-radius: 8px;
        color: #fff;
        margin-top: 25px;
        background-color: #0b847a;
        border: none;
        cursor: pointer;
      }
      .botao_login:hover {
        background-color: #095852;
        cursor: pointer;
      }
      a {
        text-decoration: none;
      }
      .container_checkbox {
        align-self: flex-start;
        margin-top: 10px;
        font-size: 10px;
      }
      .input_container {
        margin: 0 auto;
        width: 100%;
        font-size: 10px;
        color: tomato;
      }
      #cadastro {
        font-size: 10px;
        margin-top: 20px;
      }
    