/*  ESTILOS DE CONTAINER  */
@charset "UTF-8";

.container_inicial {
  width: 100%;
  background-color: #ffe636;

  display: flex;
  flex-direction: column; /*vai deixar um em baixo do outro*/
  align-items: center;
  /*vai alinhar os elementos na vertical no centro*/
  justify-content: center;
  /*vai alinhar os elementos na horizontal no centro*/
  padding: 20px;
}

.container_inicial h1 {
  font-size: 34px;
  font-weight: bold;
  color: #1a1a2e;
  margin-bottom: 20px;
}

.container_inicial p {
  margin-bottom: 25px;
}